<div class="container">
  <div class="row">
    <a class="btn btn=primary" routerLink="/admin">Back to List</a>
  </div>
  <div>
    <div class="form-group">
      <label>Buyer Name</label>
      <div class="form-control">{{bikereg.bname}}</div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <div class="form-control">{{bikereg.email}}</div>
    </div>
    <div class="form-group">
      <label>Phone</label>
      <div class="form-control">{{bikereg.phone}}</div>
    </div>
    <div class="form-group">
      <label>Bike Model</label>
      <div class="form-control">{{bikereg.bmodel}}</div>
    </div>
    <div class="form-group">
      <label>Bike Serial Number</label>
      <div class="form-control">{{bikereg.serialNumber}}</div>
    </div>
    <div class="form-group">
      <label>Purchase Price</label>
      <div class="form-control">{{bikereg.purchasePrice}}</div>
    </div>
    <div class="form-group">
      <label>Purchase Date</label>
      <div class="form-control">{{bikereg.purchaseDate}}</div>
    </div>
  </div>
</div>